# Ignore model weights but keep Model folder structure
Model/Qwen2.5-3B-Instruct/
Model/Llama-3.2-3B-Instruct/
Model/ViBERT-Base/
Model/XLM-RoBERTa-Large/
Model/*.txt
Model/*.pt
*.log
.ipynb_checkpoints/


# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
Demo/__pycache__/

# Ignore other non-related course files in Report
SE365_Report.docx
SE365_Report.pdf
crawl-ytb-to-gt.ipynb
targetedabsa-eda.ipynb
Pipeline_GenDataset.drawio
